.buildpath
.bundle
.DS_Files
.DS_Store
.envrc
.kitchen
.project
.terraform
.vscode
*.tfstate
*.tfstate.backup
audit/*/vendor
packer_cache
TAGS
target
terraform.d
test/*/vendor
vars*.json
vendor
vendor-cookbooks
